
/* 把设计稿分为20份，即使20个rem。
* 当然在不同的屏幕下，每个rem对应的px比例都是变化的
* 我们需要通过媒体查询来查询设备的屏幕宽度，然后计算设备宽度
* 除以份数（20），得到适合当前屏幕下rem的大小。
* rem的大小通过：html的font-size来设置。
* 1rem就是对应一个html的font-size。
*/
@media screen and (device-width: 320px) {
    html {
        font-size: 16px;
    }

}
@media screen and (device-width: 360px) {
    html {
        font-size: 18px;
    }

}
@media screen and (device-width: 375px) {
    html {
        font-size: 18.75px;
    }

}
@media screen and (device-width: 414px) {
    html {
        font-size: 20.07px;
    }

}
/* 通过上面的媒体查询，我们就可以设置一个元素的宽为10rem，
* 这样不论在那个屏幕下，该元素都占据当前屏幕宽度的一半
*/