/* 定义颜色变量 */
/* 头部块样式 */
header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
header .row {
  height: 100%;
}
header .row div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
header .row div:nth-of-type(-n+3) .phone_wjs {
  position: relative;
  display: block;
  text-align: center;
}
header .row div:nth-of-type(-n+3) .phone_wjs:hover > img {
  display: block;
}
header .row div:nth-of-type(-n+3) .phone_wjs img {
  display: none;
  position: absolute;
  left: 50%;
  top: 49px;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
  z-index: 9999;
}
header .row div:nth-last-of-type(1) > .btn-danger {
  background-color: #e92332;
  border-color: #e92332;
}
header .row div:nth-last-of-type(1) > .btn {
  padding: 3px 15px;
}
header .row div:nth-last-of-type(1) > .btn-link {
  color: #333;
}
header .row div:nth-last-of-type(1) > .btn-link:hover {
  text-decoration: none;
}
/* 导航栏样式 */
.wjs_nav.navbar {
  margin-bottom: 0;
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-brand .wjs_icon {
  font-size: 40px;
}
.wjs_nav .navbar-brand span:first-of-type {
  color: #e92332;
}
.wjs_nav .navbar-brand span:last-of-type {
  color: #333;
}
.wjs_nav .navbar-nav li a {
  line-height: 50px;
  font-size: 16px;
}
.wjs_nav .navbar-nav li > a:hover,
.wjs_nav .navbar-nav li a:focus {
  color: #777;
  border-bottom: 3px solid #e92332;
}
.wjs_nav .navbar-nav .active > a,
.wjs_nav .navbar-nav .active a:hover,
.wjs_nav .navbar-nav .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #e92332;
}
.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
/* 轮播区域 */
.wjs_banner {
  /* PC端图片 */
}
.wjs_banner .carousel .carousel-inner .item .mobileImg {
  width: 100%;
  display: block;
}
.wjs_banner .carousel .carousel-inner .item .mobileImg > img {
  width: 100%;
  display: block;
}
.wjs_banner .PcImg {
  display: block;
  width: 100%;
  height: 410px;
  /* 设置背景图片 */
  background-position: center center;
  /*  */
  background-size: cover;
}
/* 信息块样式 */
.wjs_info {
  padding: 30px;
}
.wjs_info .wjs_icon {
  font-size: 30px;
}
.wjs_info .row > div {
  margin-top: 20px;
}
.wjs_info .row > div > a:hover {
  color: #e92332;
}
/* 预约块样式 */
.wjs_bespeak {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wjs_bespeak .wjs_icon {
  font-size: 18px;
}
.wjs_bespeak .bookingNow {
  color: #e92332;
  border-bottom: 1px dashed #e92332;
}
.wjs_bespeak a:hover {
  color: #e92332;
}
/* 产品块样式 */
.wjs_product {
  background-color: #eee;
  padding: 20px;
}
.wjs_product .tabs_parent {
  width: 100%;
  overflow: hidden;
}
.wjs_product .container {
  padding-left: 0;
  padding-right: 0;
}
.wjs_product .nav-tabs {
  clear: both;
}
.wjs_product .nav-tabs > li {
  margin-bottom: 0;
  padding: 0 15px;
}
.wjs_product .nav-tabs > li > a {
  line-height: 50px;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
.wjs_product .nav-tabs > li a:hover {
  border-bottom: 3px solid #e92332;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active a:hover,
.wjs_product .nav-tabs > li.active a:focus {
  border-radius: 0;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #e92332;
}
.wjs_product .wjs_pBox {
  position: relative;
  height: 150px;
  margin-top: 20px;
  background-color: #fff;
  /* 设置当前active样式 */
}
.wjs_product .wjs_pBox .wjs_pLeft {
  position: relative;
  margin-right: 100px;
  height: 150px;
  padding-top: 10px;
  font-size: 12px;
}
.wjs_product .wjs_pBox .wjs_pLeft > p {
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.wjs_product .wjs_pBox .wjs_pLeft .row {
  margin-left: -10px;
  margin-right: -10px;
}
.wjs_product .wjs_pBox .wjs_pLeft .row div:nth-of-type(2n) {
  text-align: right;
  padding-right: 15px;
  padding-left: 0;
}
.wjs_product .wjs_pBox .wjs_pLeft .row > div {
  padding-right: 0;
}
.wjs_product .wjs_pBox .wjs_pRight {
  position: absolute;
  left: 100%;
  margin-left: 10px;
  transform: translateX(-110%);
  top: 0;
  width: 100px;
  height: 150px;
  border-left: 1px dashed #ccc;
  text-align: center;
  padding-top: 30px;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip > span {
  cursor: pointer;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip > span:first-of-type {
  color: red;
  border: 1px solid red;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip > span:last-of-type {
  color: blue;
  border: 1px solid blue;
}
.wjs_product .wjs_pBox .wjs_pRight > b {
  font-size: 40px;
  color: #e92332;
}
.wjs_product .wjs_pBox .wjs_pRight > sub {
  color: #e92332;
  bottom: 0;
}
.wjs_product .wjs_pBox .wjs_pRight::before,
.wjs_product .wjs_pBox .wjs_pRight::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  left: -5px;
}
.wjs_product .wjs_pBox .wjs_pRight::before {
  top: -5px;
  box-shadow: 0 -1px 1px #ddd inset;
}
.wjs_product .wjs_pBox .wjs_pRight::after {
  bottom: -5px;
  box-shadow: 0 1px 1px #ddd inset;
}
.wjs_product .wjs_pBox.active {
  background-color: #e92332;
}
.wjs_product .wjs_pBox.active .wjs_pRight > b,
.wjs_product .wjs_pBox.active .wjs_pRight sub,
.wjs_product .wjs_pBox.active .wjs_pRight p {
  color: #fff;
}
.wjs_product .wjs_pBox.active .wjs_pLeft {
  color: #fff;
  /* 使用伪元素添加左上角图标 */
}
.wjs_product .wjs_pBox.active .wjs_pLeft::before {
  content: "\e915";
  /* 一定要设置字体 */
  font-family: "wjs";
  position: absolute;
  left: 0;
  top: -5px;
  font-size: 25px;
}
/* 新闻块样式 */
.wjs_news {
  padding: 20px;
  /* 添加虚线边框 */
}
.wjs_news .wjs_ntitle {
  line-height: 50px;
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  position: relative;
}
.wjs_news .wjs_ntitle::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
  bottom: -4px;
  right: -8px;
}
.wjs_news .wjs_newsline {
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 1px dashed #e92332;
  left: 45px;
  top: 0;
}
.wjs_news .nav-tabs {
  border: 0;
  /* 使用媒体查询来设置w 768~992之间li元素的样式 */
  /* 设置宽度小于768时，li元素的样式 */
}
.wjs_news .nav-tabs > li {
  margin-bottom: 60px;
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active a:hover,
.wjs_news .nav-tabs > li.active a:focus {
  border: 0;
  background-color: #e92332;
}
.wjs_news .nav-tabs > li > a {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
}
.wjs_news .nav-tabs > li > a:hover {
  border: 0;
  background-color: #e92332;
}
.wjs_news .nav-tabs > li .wjs_icon {
  font-size: 30px;
  color: #fff;
}
.wjs_news .nav-tabs > li:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 0;
    width: 25%;
  }
}
