/* 整体排版，设置最大可拉伸宽度和最小可拉伸宽度 */
.jd_layout {
width: 100%;
min-width: 320px;
/* 二倍图效果 */
max-width: 640px;


}
/* 搜索区域 */
.jd_search_arra {
    width: 100%;
    position: fixed;
    height: 40px;
    /* fixed ：父级盒子就不能限制其宽度，是根据视口来决定的。需要自我约束 */
    max-width: 640px;
    min-width: 320px;
   z-index: 999;
    background-color: rgba(233,35,34,0);
}
.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 5px;
    background: url(../images/jd-sprites.png);
    /* 二倍图 */
    background-size: 200px 200px;
    background-position: 0px -108px;
}
.jd_login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.search_content {
    /* 采用margin布局 */
    margin-left: 76px;
    margin-right: 50px;
    /* 其自身宽度自动计算 */
    height: 100%;
}
.search_content input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 30px;
    color: #666;
}
.search_content::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background: url("../images/jd-sprites.png");
    background-size: 200px 200px;
    background-position: -56px -108px;
    left: 80px;
    top: 9px;
}
/* 轮播图 */
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* 图片 */
.jd_banner_img {
width: 800%;
overflow: hidden;
position: relative;
left: 0;
top: 0;
}
.jd_banner_img li {
  width: 12.5%;
  float: left;
}
.jd_banner_img li img {
    width: 100%;
    /* 图片有默认与父元素基线对齐，会撑开盒子 */
    display: block;
}
/* 轮播图序号 */
.jd_banner_flag {
    width: 128px;
    height: 6px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}
.jd_banner_flag li {
    float: left;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 10px;;
}
.jd_banner_flag li:nth-of-type(1) {
    margin-left: 0;
}
.jd_banner_flag li.current {
    background-color: #fff;
}

/* 导航部分 */
.jd_nav {
    width: 100%;
    background-color: #fff;
}
.jd_nav li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 5px;
}
.jd_nav li p{
    font-size: 12px;
    line-height: 24px;
}
.jd_nav li a {
    display: block;
}
.jd_nav li a img {
    width: 50px;
}
/* 产品内容 */
.jd_productinfo {
    width: 100%;
}
.jd_productBox {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
}
.jd_productBox_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.jd_productBox_title h3 {
    margin: 0;
    margin-left: 30px;
    position: relative;
}
.jd_productBox_title h3::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #e92322;
    left: -5px;
    top: 9px;
}
/* 因为图片样式相同比较多，所以单独写，需要的添加 */
.a_width_50  a {
    display: block;
    width: 50%;
}
.a_width_50 img {
    width: 100%;
    display: block;
}
.border_left {
    border-left: 1px solid #ccc;
}
.border_bottom {
    border-bottom: 1px solid #ccc;
}
/* 秒杀模块 */
.jd_sk_box {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
}
.jd_sk_timer .jd_sk_icon {
    float: left;
    width: 16px;
    height: 20px;
    background:url("../uploads/seckill-icon.png");
    background-size: 16px 20px;
    margin-top: -3px;
    margin-left: 5px;
}
.jd_sk_text {
 float: left;
color: #e92322;
margin-left: 5px;
font-size: 12px;
 margin-right: 5px;
}
.jd_sk_countTime {
    display: inline-block;
    width: 13px;
    height: 18px;
    text-align: center;
    color: #fff;
    background-color: #000;
}
.back_none {
    color: #000;
    background-color: #fff;
}
.jd_sk_more {
    margin-right: 18px;
}
.jd_sk_content{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.jd_sk_content ul {
    width: 100%;
}
.jd_sk_content ul .jd_sk_content_items {
    width: 33.3%;
    float: left;
    text-align: center;
}
.jd_sk_content_items a {
    display: inline-block;
    width: 100%;
}
.jd_sk_content_items a img {
    width: 80%;
}
.text-line {
    text-decoration: line-through;
}